.mat-dialog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    
}
.mat-dialog-container {   
    padding: 0px 0px 0px 0px !important;
    overflow: hidden !important;
  }